allow hal_wifi_default sysfs:file write;
allow hal_wifi_default efs_file:file { open read };
allow hal_wifi_default system_data_file:file { open read };