domain_auto_trans(init, shell_exec, shell)

allow init camera_socket:sock_file relabelto;
allow init debugfs:dir mounton;
allow init debugfs:file w_file_perms;
allow init diag_device:chr_file unlink;
allow init labeledfs:filesystem associate;
allow init proc_filesystems:file getattr;
allow init self:capability sys_nice;
allow init self:netlink_kobject_uevent_socket { bind create read setopt };
allow init self:netlink_socket read;
allow init self:socket read;
allow init socket_device:sock_file create_file_perms;
allow init sysfs_batteryinfo:file setattr;
allow init sysfs_bluetooth_writable:file setattr;
allow init sysfs_cpu_boost:file { rw_file_perms setattr };
allow init sysfs_cpufreq_limit:file { rw_file_perms setattr };
allow init sysfs_devices_system_cpu:file w_file_perms;
allow init sysfs_dm:file rw_file_perms;
allow init sysfs:file { rw_file_perms setattr };
allow init sysfs_hsic_modem_wait:file setattr;
allow init sysfs_keypad:file setattr;
allow init sysfs_leds:file setattr;
allow init sysfs_lowmemorykiller:file w_file_perms;
allow init sysfs_mdnie:file setattr;
allow init sysfs_sensors:file { r_file_perms setattr };
allow init sysfs_sensors:lnk_file r_file_perms;
allow init sysfs_thermal:file w_file_perms;
allow init sysfs_wifi_writeable:file { rw_file_perms setattr };
allow init system_file:file execmod;
allow init vendor_file:file execute_no_trans;
allow init vendor_toolbox_exec:file execute_no_trans;

binder_call(init, system_server)

set_prop(init, vendor_wifi_prop)
