allow mediaserver camera_prop:property_service set;
allow mediaserver system_file:file execmod;
allow mediaserver system_data_file:sock_file write;
allow mediaserver audio_device:chr_file rw_file_perms;
allow mediaserver camera_device:chr_file rw_file_perms;

allow mediaserver vendor_file:file execmod;
allow mediaserver camera_socket:sock_file write;
allow mediaserver mm-qcamerad:unix_dgram_socket sendto;
r_dir_file(mediaserver, sysfs_battery_supply)
set_prop(mediaserver, camera_prop)
unix_socket_send(mediaserver, camera, mm-qcamerad)

binder_call(mediaserver, hal_configstore)
allow mediaserver hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;
