allow mediaserver audio_device:chr_file rw_file_perms;
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver camera_device:dir search;
allow mediaserver camera_prop:property_service set;
allow mediaserver cameraproxy_service:service_manager find;
allow mediaserver cameraserver_service:service_manager add;
allow mediaserver camera_socket:sock_file w_file_perms;
allow mediaserver mnt_user_file:dir search;
allow mediaserver storage_file:dir search;
allow mediaserver storage_file:lnk_file r_file_perms;
allow mediaserver sysfs_graphics:file rw_file_perms;
allow mediaserver system_file:file execmod;
allow mediaserver vendor_file:file execmod;
