allow netmgrd net_radio_prop:property_service set;
allow netmgrd proc_net:dir r_dir_perms;
allow netmgrd proc_net:file r_file_perms;
allow netmgrd radio_prop:property_service set;
allow netmgrd self:capability { setuid setgid net_admin net_raw };
allow netmgrd self:packet_socket { create read write bind };
allow netmgrd self:rawip_socket create_socket_perms;
allow netmgrd self:udp_socket { create ioctl };
allow netmgrd shell_exec:file rx_file_perms;
allow netmgrd system_file:file rx_file_perms;

auditallow netmgrd radio_prop:property_service set;
dontaudit netmgrd self:capability sys_module;
qmux_socket(netmgrd)
unix_socket_connect(netmgrd, property, init)
