allow system_server crash_dump:process getpgid;
allow system_server dalvikcache_data_file:file rwx_file_perms;
allow system_server efs_file:dir search;
allow system_server efs_file:file r_file_perms;
allow system_server kernel:process setsched;
allow system_server mediaserver:process sigkill;
allow system_server persist_file:dir rw_file_perms;
allow system_server sysfs_thermal:file r_file_perms;
allow system_server system_file:file execmod;

binder_call(system_server, init)
