allow ueventd exfat:dir search;
allow ueventd exfat:file r_file_perms;
allow ueventd sysfs_graphics:file getattr;
allow ueventd sysfs_keypad:file getattr;
allow ueventd sysfs_mdnie:file getattr;
allow ueventd vfat:dir search;
allow ueventd vfat:file r_file_perms;
