allow platform_app battery_service:service_manager find;
allow platform_app nfc_data_file:dir getattr;
allow platform_app radio_data_file:dir getattr;
allow platform_app system_app_data_file:dir getattr;
